/* ОБЩИЕ СТИЛИ */
.page {
  min-width: 1100px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Raleway', Arial, sans-serif;
}

/* ОБЩИЙ КЛАСС ДЛЯ ПЕРЕИСПОЛЬЗОВАНИЯ */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* ШАПКА */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

/* МЕНЮ В ШАПКЕ */
.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__links-list-item {
  position: relative;
}

.header__links-list-item::after {
  content: "•";
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.header__links-list-item:last-child::after {
  display: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

/* ЛОГОТИП В ШАПКЕ */
.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* АДРЕС В ШАПКЕ */
.address {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address a {
  border-bottom: 1px solid #000;
}

/* ГЛАВНАЯ СЕКЦИЯ (COVER) */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

/* СЕКЦИЯ ЛОТОВ */
.lots {
  padding: 180px 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.lots__card-list-item {
  flex: 1;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #FFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}

/* СЕКЦИЯ "ОБ АУКЦИОНЕ" */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

/* ПОДВАЛ - ИСПРАВЛЕННЫЙ! */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 0 50px 90px;
}

.footer .address {
  justify-self: start;
  line-height: 1.5;
}

.footer .address p {
  margin-top: 5px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer__menu-list-item {
  margin-bottom: 10px;
}

.footer__menu-list-item:last-child {
  margin-bottom: 0;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* ИНТЕРАКТИВНЫЕ ЭФФЕКТЫ */
.header__link:hover,
.footer__menu-link:hover,
.lots__look-more-link:hover,
.address a:hover {
  opacity: 0.6;
}

.bet-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.card-link:hover .card__title {
  text-decoration: none;
}